.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-bottom: 30px;
}

.articles-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 60px 100px;

    gap: 40px 20px;
    max-width: 1440px;
    justify-content: center;
    
}

.article-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0px 0px 30px;
    gap: 10px;

    max-width: 350px;
    height: 610px;

    background: #FFFFFF;

    /* card-shadow */
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.125);
    border-radius: 30px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;

    overflow: hidden;
    position: relative;
}

.article-thumbnail {
    height: 230px;
    /*min-width: 100%;*/
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 15px;
    align-items: stretch;
}

.card-header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
}

.card-subtitle {
    align-self: flex-end;
}

.card-btn {
    align-self: center;
    position: absolute;
    bottom: 30px;
}

@media screen and (max-width: 810px) {
    .articles-wrapper {
        padding: 60px 0;
        width: 100%;
    }
}