* {
    box-sizing: border-box;
    margin: 0;
    /*-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/

    scroll-behavior: smooth;
}
/*
::-webkit-scrollbar {
    background-color: transparent;
    position: absolute;
    right: 0;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #F73359;
    border-radius: 2.5px;
}*/

main {
    width: 100%;
}

body {
    /*scrollbar-gutter: stable;*/
    margin: 0;
    background-color: #F5F6F8;
    font-family: 'Outfit', sans-serif;
    
}

header {
    min-height: 76px;
    overflow: visible;
    /* header */
    background: linear-gradient(269.82deg, rgba(254, 131, 42, 0.4) 0%, rgba(247, 51, 89, 0.4) 100%), rgba(255, 255, 255, 0.8);

    /* header-shadow */
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-container {
    /*background-color: blue;*/
    max-width: 1440px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    padding: 0 110px;
}



.nav-desktop {
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: stretch;
}

nav a {
    text-decoration: none;
}

.nav-desktop a {
    margin-left: 40px;
}

.nav-mobile-btn, .nav-mobile {
    display: none;
}

.footer-container {
    padding: 93px 182px 114px;
    background-color: white;
    /*height: 490px;*/
}

.footer-content-over {
    display: flex;
    flex-direction: row;
    /*height: 185px;*/
    margin-bottom: 38px;
    justify-content: space-between;
}

.footer-content-under {
    margin-top: 38px;
}

/*.footer-content-over > .footer-column {
    flex-grow: 1;
}*/

.footer-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

.footer-links {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /*height: 130px;*/
}

.footer-links > * {
    margin-top: 12px;
    /*margin-right: 86px;*/
    /*max-width: 150px;*/
    text-decoration: none;
}

footer form {
    border-bottom: 2px solid #98A4BF;
    display: flex;
    width: 100%;
    max-width: 285px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

footer input {
    border: none;
    flex-grow: 1;
}

input:focus {
    background-color: rgb(250, 250, 250);
    outline: none;
}

.next {
    border: none;
    background: none;
    width: 11px;
    height: 11px;

    border-top: 1.5px solid #98A4BF;
    border-right: 1.5px solid #98A4BF;

    transform-origin: center center;

    transform: rotate(45deg);

    padding: 0;
}

.next:hover {
        border-color: #565d6d;
        cursor: pointer;
}

.social-links {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 195px;
    justify-content: space-between;
    margin-top: 40px;
}

.social-links a {
    width: 50px;
    height: 50px;
    border: 1.5px solid #D9DADD;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .social-links a:hover {
    background: black;
}

footer .social-links img[src$=".svg"] {
    width: 20px;
}


@media screen and (max-width:1000px) {

    header {
        min-height: 65px;
    }

    .brand {
        transform: translateY(1.3px);
        align-self: center;
    }

    .brand img {
        height: 45px;
    }

    .stop-scroll {
        height: 100vh;
        overflow: hidden;
    }

    .nav-mobile {
        display: flex;
        background-color: rgba(0, 0, 0, 0.025);
        flex-direction: column;
        align-self: stretch;
        align-items: flex-end;
        padding-top: 20px;
        padding-bottom: 20px;
        display: none;
        overflow: scroll;
        height: calc(100vh - 65px);
    }

    

    .nvm-active {
        display: flex;
    }

    .nav-mobile a {
        margin: 30px 35px 0 0 ;
    }

    .nav-desktop {
        display: none;
        flex-direction: column;
    }

    .nav-mobile-btn {
        display: block;
    }

    .header-container {
        padding: 0px 35px;
        min-height: 65px;
    }

    .hamburger {
        /*background-color: rgba(255, 255, 255, .5);*/
        height: 35px;
        width: 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    .hamburger-line {
        border-radius: 2.5px;
        width: 100%;
        height: 5px;
        background-color: #464F64;
    }

    .hamburger:hover .hamburger-line {
        background-color: #616f8d;
    }

    .footer-content-over {
        flex-direction: column;
    }

    .footer-column {
        margin-bottom: 35px;
        align-items: center;
    }

    .footer-links {
        align-items: center;
    }

    .footer-container {
        padding: 35px;
    }

    

}