* {
    box-sizing: border-box;
    margin: 0;
    /*-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/

    scroll-behavior: smooth;
    z-index: 0;
}
/*
::-webkit-scrollbar {
    background-color: transparent;
    position: absolute;
    right: 0;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #F73359;
    border-radius: 2.5px;
}*/

/*::-webkit-scrollbar {
    display: none;
}*/

main {
    width: 100%;
}

main.overlayed {
    filter : contrast(50%) brightness(110%);
}

body::-webkit-scrollbar {
    width: 5px;
    
}

body::-webkit-scrollbar-track {
    background-color: transparent;
    position: absolute;
}

body::-webkit-scrollbar:hover {
    width: 10px !important;
}

body::-webkit-scrollbar-track:hover {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(173, 173, 173);
    border-radius: 2.5px;
}

body {
    /*scrollbar-gutter: auto;*/
    margin: 0;
    background-color: #F5F6F8;
    font-family: 'Outfit', sans-serif;

    overflow-y: overlay;
}

header {
    min-height: 70px;
    overflow: visible;
    /* header */
    background: linear-gradient(269.82deg, rgba(254, 131, 42, 0.4) 0%, rgba(247, 51, 89, 0.4) 100%), rgba(255, 255, 255, 1);

    /* header-shadow */
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: sticky;
    top: 0;

    z-index: 1;
}

.header-container {
    /*background-color: blue;*/
    max-width: 1440px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    padding: 0 110px;
}



.nav-desktop {
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: stretch;
}

nav a {
    text-decoration: none;
}

.nav-desktop a {
    margin-left: 40px;
}

.nav-mobile-btn, .nav-mobile {
    display: none;
}

footer {
    width: 100%;
    background: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container {
    padding: 90px 185px 38px;
    max-width: 1440px;
    width: 100%;
    
    /*height: 490px;*/
}

.footer-content-over {
    display: flex;
    flex-direction: row;
    /*height: 185px;*/
    margin-bottom: 38px;
    justify-content: space-between;
}

.footer-content-under {
    margin-top: 38px;
}

/*.footer-content-over > .footer-column {
    flex-grow: 1;
}*/

.footer-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

.footer-links {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /*height: 130px;*/
}

.footer-links > * {
    margin-top: 12px;
    /*margin-right: 86px;*/
    /*max-width: 150px;*/
    text-decoration: none;
}

footer form {
    border-bottom: 2px solid #98A4BF;
    display: flex;
    width: 100%;
    max-width: 285px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

footer input {
    border: none;
    flex-grow: 1;
}

input:focus, textarea:focus, select:focus {
    background-color: rgb(250, 250, 250);
    outline: none;
}

.next {
    border: none;
    background: none;
    width: 11px;
    height: 11px;

    border-top: 1.5px solid #98A4BF;
    border-right: 1.5px solid #98A4BF;

    transform-origin: center center;

    transform: rotate(45deg);

    padding: 0;
}

.next:hover {
        border-color: #565d6d;
        cursor: pointer;
}

.social-links {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 195px;
    justify-content: space-between;
    margin-top: 40px;
}

.social-links a {
    width: 50px;
    height: 50px;
    border: 1.5px solid #D9DADD;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .social-links a:hover {
    background: black;
}

footer .social-links img[src$=".svg"] {
    width: 20px;
}

.search {
    background-color: white;
    padding: 30px 0px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;

    /* card-shadow */
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.125);
    border-radius: 30px;
    padding: 30px 200px;
    width: max-content;
    max-width: 95%;
}

.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-top: 15px;
}

.filters div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-field {
    border: none;
    border-bottom: 2px solid #98A4BF;
    width: 100%;
}

input[type$="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type$="radio"]~label {
    padding: 7px 29px;

    /* button-text-wbg */
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;

    color: #464F64;
    cursor: pointer;
}

input[type$="radio"]:checked~label {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    padding: 7px 29px;
    background: linear-gradient(90deg, #F73056 0%, #FF5D75 100%);

    /* button-bg-wbg-shadow */
    box-shadow: 0px 4px 8px 1px rgba(247, 48, 86, 0.3);
    border-radius: 25px;
    text-align: center;
    border-radius: 25px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.chat {
    position: fixed;
    bottom: 0;
    height: fit-content;
    width: fit-content;
    z-index: 2;
}

.chat-frame {
    width: 375px;
    height: 600px;
    background-color: transparent;

    position: absolute;
    bottom: 0;

}

.chat-container {
    position: relative;
    width: 375px;
    height: 600px;

    bottom: 20px;
    left: 105px;
}

.close {
    position: absolute;
    right: 17px;
    top: 30px;

    transform: translate(0, -50%);

    cursor: pointer;
    z-index: 2;
}

.toggle-chat {
    position: fixed;
    bottom: 17px;
    left: 22px;
    border: none;
    background: none;

    z-index: 3;
    }

.toggle-chat img {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.stop-scroll {
    /*height: 100vh;*/
    overflow: hidden;
}

.invisible {
    visibility: hidden;
    display: none;
}

.download-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;

    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 40px;
    border-radius: 23px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

#qr-code {
    height: 150px;
    width: 150px;
    background-color: rgb(240, 240, 240);
}

@media screen and (max-width:1000px) {

    header {
        min-height: 65px;
    }

    .brand {
        transform: translateY(1.3px);
        align-self: center;
    }

    .brand img {
        height: 45px;
    }

    

    .nav-mobile {
        display: flex;
        background-color: rgba(0, 0, 0, 0.025);
        flex-direction: column;
        align-self: stretch;
        align-items: flex-end;
        padding-top: 20px;
        padding-bottom: 20px;
        display: none;
        overflow: scroll;
        height: calc(100vh - 65px);
        /*height: auto;*/

        position: sticky;
        top: 0;
    }

    

    .nvm-active {
        display: flex;
    }

    .nav-mobile a {
        margin: 30px 35px 0 0 ;
    }

    .nav-desktop {
        display: none;
        flex-direction: column;
    }

    .nav-mobile-btn {
        display: block;
    }

    .header-container {
        padding: 0px 35px;
        min-height: 65px;
    }

    .hamburger {
        /*background-color: rgba(255, 255, 255, .5);*/
        height: 35px;
        width: 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    .hamburger-line {
        border-radius: 2.5px;
        width: 100%;
        height: 5px;
        background-color: #464F64;
    }

    .hamburger:hover .hamburger-line {
        background-color: #616f8d;
    }

    .footer-content-over {
        flex-direction: column;
    }

    .footer-column {
        margin-bottom: 35px;
        align-items: center;
    }

    .footer-links {
        align-items: center;
    }

    .footer-container {
        padding: 35px;
    }

    .search-bar {
        width: fit-content;
        padding: 30px;
    }

    .search {
        padding: 30px 15px;
    }

    .filters {
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        gap: 10px;
    }

}